# Generacion de scripts para llenado de datos en las tablas

## llenar tabla

In [1]:
import pandas as pd
import numpy as np
import faker
from faker import Faker
from database import Database

db = Database()

Alumnos nuevos con faker

In [2]:
fake = Faker('es_ES')

In [ ]:

i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    codigo = fake.bothify(text='########')
    text += f"INSERT INTO alumnos (id, código) VALUES ({id}, {codigo});\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM posiciones;'

with open('inserts_alumnos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de distritos

In [9]:
id = 1
text = '--migrate:up \n\n'
dicc_distritos = ["Ancón", "Ate", "Barranco", "Breña", "Carabayllo", "Chaclacayo", "Chorrillos", "Cieneguilla", "Comas", "El Agustino", "Independencia", "Jesús María",
                  "La Molina", "La Victoria", "Lince", "Los Olivos", "Lurigancho", "Lurín", "Magdalena del Mar", "Miraflores", "Pachacámac", "Pucusana", "Pueblo Libre",
                  "Puente Piedra", "Punta Hermosa", "Punta Negra", "Rímac", "San Bartolo", "San Borja", "San Isidro", "San Juan de Lurigancho", "San Juan de Miraflores",
                  "San Luis", "San Martín de Porres", "San Miguel", "Santa Anita", "Santa María del Mar", "Santa Rosa", "Santiago de Surco", "Surquillo", "Villa El Salvador",
                  "Villa María del Triunfo"]

for nombre in dicc_distritos:
    text += f"INSERT INTO distritos (id, nombre) VALUES ({id}, '{nombre}');\n"
    id += 1

text += '\n--migrate:down \n\nDELETE FROM distritos;'

with open('inserts_distritos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de notificaciones

In [ ]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<5):
    i=i+1
    valor_booleano = fake.boolean() 
    nombre_notificaciones = fake.sentence(nb_words=4)
    text += f"INSERT INTO notificaciones (id, estado, nombre) VALUES ({id}, {valor_booleano}, '{nombre_notificaciones}');\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM notificaciones;'

with open('inserts_notificaciones.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion redes_de_pago

In [ ]:
id = 1
text = '--migrate:up \n\n'
dicc_bancos = ["Visa","Mastercard","American Express","Discover"]

for nombre in dicc_bancos:
    text += f"INSERT INTO red_pagos (id, nombre) VALUES ({id}, '{nombre}');\n"
    id += 1

text += '\n--migrate:down \n\nDELETE FROM red_pagos;'

with open('inserts_red_pagos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de nombres de bancos

In [ ]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<15):
    i=i+1
    banco = fake.company()
    text += f"INSERT INTO bancos (id, nombre) VALUES ({id}, '{banco}');\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM bancos;'

with open('inserts_bancos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de perfiles

In [3]:
import random
from random import randint

In [ ]:

i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    user_id = fake.bothify(text='#######')
    celular = fake.numerify('9########')
    celular_sin_mas= celular.replace("+", "")
    dni = random.randint(10000000, 99999999)
    nombre = fake.first_name()
    apellidos = fake.last_name()
    fecha_nacimiento = fake.date_of_birth(minimum_age=18, maximum_age=65)
    correo = fake.email()
    contrasena = fake.password()
    text += f"INSERT INTO perfiles (id, user_id, celular, DNI, nombre, apellidos, fecha_nacimiento, correo, contraseña) VALUES ({id}, {user_id},{celular},{dni},'{nombre}','{apellidos}',{fecha_nacimiento},'{correo}','{contrasena}');\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM perfiles;'

with open('inserts_perfiles.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de nombres de app billeteras digitales

In [33]:
id = 1
text = '--migrate:up \n\n'
dicc_nombre_app_billeteras_digitales = ["Yape","Plin"]

for nombre in dicc_nombre_app_billeteras_digitales:
    text += f"INSERT INTO nombre_app_billeteras_digitales (id, nombre) VALUES ({id}, '{nombre}');\n"
    id += 1

text += '\n--migrate:down \n\nDELETE FROM nombre_app_billeteras_digitales;'

with open('inserts_nombre_app_billeteras_digitales.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de estaciones

In [40]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    estacion = fake.word().capitalize()
    id_distrito = randint(1, 42)
    text += f"INSERT INTO estaciones (id, nombre, id_distrito) VALUES ({id}, '{estacion}', {id_distrito});\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM estaciones;'

with open('inserts_estaciones.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion tarjeta de corredor

In [42]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    id_tarjeta_fisica = fake.bothify(text='########')
    id_perfil = id
    text += f"INSERT INTO tarjetas_corredor (id, id_tarjeta_fisica, id_perfil) VALUES ({id}, {id_tarjeta_fisica}, {id_perfil});\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM tarjetas_corredor;'

with open('inserts_tarjetas_corredor.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Inserccion de nombre_metodo_pagos (actualizacion este no va)

In [45]:
id = 1
text = '--migrate:up \n\n'
nombre_metodo_pagos = ["app_billetera_digital","tarjeta"]

for nombre in nombre_metodo_pagos:
    text += f"INSERT INTO nombre_metodo_pagos (id, nombre) VALUES ({id}, '{nombre}');\n"
    id += 1

text += '\n--migrate:down \n\nDELETE FROM nombre_metodo_pagos;'

with open('inserts_nombre_metodo_pagos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Inserccion de metodo_pagos

In [7]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    id_banco = random.randint(1, 15)
    id_perfil = id
    text += f"INSERT INTO metodo_pagos (id, id_banco, id_perfil) VALUES ({id}, {id_banco}, {id_perfil});\n"
    id = id + 1
text += '\n--migrate:down \n\nDELETE FROM metodo_pagos;'

with open('inserts_metodo_pagos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Inserccion de tarjetas_universitarias

In [9]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    id_tarjeta_corredor = random.randint(1, 100)
    id_alumno = random.randint(1, 100)
    text += f"INSERT INTO tarjetas_universitario (id, id_tarjeta_corredor, id_alumno) VALUES ({id}, {id_tarjeta_corredor}, {id_alumno});\n"
    id = id + 1
text += '\n--migrate:down \n\nDELETE FROM tarjetas_universitario;'

with open('inserts_tarjetas_universitario.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Inserccion de tajetas_general

In [10]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    id_tarjeta_corredor2 = random.randint(1, 100)
    text += f"INSERT INTO tarjetas_general (id, id_tarjeta_corredor) VALUES ({id}, {id_tarjeta_corredor2});\n"
    id = id + 1
text += '\n--migrate:down \n\nDELETE FROM tarjetas_general;'

with open('inserts_tarjetas_general.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Inserccion app billeteras digitales

In [ ]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    id_metodo_pago = random.randint(1, 100)
    id_nombre_app_billetera_digital = random.randint(1, 2)  
    text += f"INSERT INTO app_billeteras_digitales (id, id_metodo_pago, id_nombre_app_billetera_digital) VALUES ({id}, {id_metodo_pago}, {id_nombre_app_billetera_digital});\n"
    id = id + 1
text += '\n--migrate:down \n\nDELETE FROM app_billeteras_digitales;'

with open('inserts_app_billeteras_digitales.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Inserccion tarjeta

In [14]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    numero_tarjeta = fake.credit_card_number()
    fecha_caducidad = fake.credit_card_expire()
    cvv = fake.credit_card_security_code()
    nombre_titular = fake.name()
    id_metodo_pago2 = random.randint(1, 100)
    id_red_pago = random.randint(1, 4)  
    text += f"INSERT INTO tarjetas (id, numero_tarjeta, fecha_caducidad, cvv, nombre_titular, id_metodo_pago, id_red_pago) VALUES ({id}, {numero_tarjeta},{fecha_caducidad}, {cvv}, '{nombre_titular}', {id_metodo_pago2}, {id_red_pago});\n"
    id = id + 1
text += '\n--migrate:down \n\nDELETE FROM tarjetas;'

with open('inserts_tarjetas.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Inserccion de viajes

In [4]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    fecha = fake.date_this_year()
    inicial_estacion = random.randint(1, 100)
    final_estacion = random.randint(1,100)
    perfil_id =random.randint(1,100)
    text += f"INSERT INTO viajes (id, fecha, final_estacion_id, inicial_estacion_id,perfil_id) VALUES ({id}, {fecha},{final_estacion}, {inicial_estacion},{perfil_id});\n"
    id = id + 1
text += '\n--migrate:down \n\nDELETE FROM viajes;'

with open('inserts_viajes.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)