# Generacion de scripts para llenado de datos en las tablas

## llenar tabla

In [1]:
import pandas as pd
import numpy as np
import faker
from faker import Faker
from database import Database

db = Database()

Alumnos nuevos con faker

In [2]:
fake = Faker('es_ES')
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    codigo = fake.bothify(text='########')
    text += f"INSERT INTO alumnos (id, código) VALUES ({id}, {codigo});\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM posiciones;'

with open('inserts_alumnos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de distritos

In [9]:
id = 1
text = '--migrate:up \n\n'
dicc_distritos = ["Ancón", "Ate", "Barranco", "Breña", "Carabayllo", "Chaclacayo", "Chorrillos", "Cieneguilla", "Comas", "El Agustino", "Independencia", "Jesús María",
                  "La Molina", "La Victoria", "Lince", "Los Olivos", "Lurigancho", "Lurín", "Magdalena del Mar", "Miraflores", "Pachacámac", "Pucusana", "Pueblo Libre",
                  "Puente Piedra", "Punta Hermosa", "Punta Negra", "Rímac", "San Bartolo", "San Borja", "San Isidro", "San Juan de Lurigancho", "San Juan de Miraflores",
                  "San Luis", "San Martín de Porres", "San Miguel", "Santa Anita", "Santa María del Mar", "Santa Rosa", "Santiago de Surco", "Surquillo", "Villa El Salvador",
                  "Villa María del Triunfo"]

for nombre in dicc_distritos:
    text += f"INSERT INTO distritos (id, nombre) VALUES ({id}, '{nombre}');\n"
    id += 1

text += '\n--migrate:down \n\nDELETE FROM distritos;'

with open('inserts_distritos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de notificaciones

In [17]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<5):
    i=i+1
    valor_booleano = fake.boolean() 
    nombre_notificaciones = fake.sentence(nb_words=4)
    text += f"INSERT INTO notificaciones (id, estado, nombre) VALUES ({id}, {valor_booleano}, {nombre_notificaciones});\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM notificaciones;'

with open('inserts_notificaciones.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion redes_de_pago

In [ ]:
id = 1
text = '--migrate:up \n\n'
dicc_bancos = ["Visa","Mastercard","American Express","Discover"]

for nombre in dicc_bancos:
    text += f"INSERT INTO red_pagos (id, nombre) VALUES ({id}, '{nombre}');\n"
    id += 1

text += '\n--migrate:down \n\nDELETE FROM red_pagos;'

with open('inserts_red_pagos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de nombres de bancos

In [22]:
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<15):
    i=i+1
    banco = fake.company()
    text += f"INSERT INTO bancos (id, nombre) VALUES ({id}, {banco});\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM bancos;'

with open('inserts_bancos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de perfiles

In [32]:
import random
from random import randint
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    user_id = fake.bothify(text='#######')
    celular = fake.numerify('9########')
    celular_sin_mas= celular.replace("+", "")
    dni = random.randint(10000000, 99999999)
    nombre = fake.first_name()
    apellidos = fake.last_name()
    fecha_nacimiento = fake.date_of_birth(minimum_age=18, maximum_age=65)
    correo = fake.email()
    contrasena = fake.password()
    text += f"INSERT INTO perfiles (id, user_id, celular, DNI, nombre, apellidos, fecha_nacimiento, correo, contraseña) VALUES ({id}, {user_id},{celular},{dni},'{nombre}','{apellidos}',{fecha_nacimiento},'{correo}','{contrasena}');\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM perfiles;'

with open('inserts_perfiles.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)

Creacion de nombres de app billeteras digitales

In [ ]:
id = 1
text = '--migrate:up \n\n'
dicc_nombre_app_billeteras_digitales = ["Yape","Plin"]

for nombre in dicc_nombre_app_billeteras_digitales:
    text += f"INSERT INTO nombre_app_billeteras_digitales (id, nombre) VALUES ({id}, '{nombre}');\n"
    id += 1

text += '\n--migrate:down \n\nDELETE FROM nombre_app_billeteras_digitales;'

with open('inserts_nombre_app_billeteras_digitales.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)