# Generacion de scripts para llenado de datos en las tablas

## llenar tabla

In [1]:
import pandas as pd
import numpy as np
import faker
from faker import Faker
from database import Database

db = Database()

Alumnos nuevos con faker

In [ ]:
fake = Faker('es_ES')
i = 0
id = 1
text = '--migrate:up \n\n'

while(i<100):
    i=i+1
    codigo = fake.bothify(text='########')
    text += f"INSERT INTO alumnos (id, cÃ³digo) VALUES ({id}, {codigo});\n"
    id = id+1

text += '\n--migrate:down \n\nDELETE FROM posiciones;'

with open('inserts_alumnos.sql', 'w', encoding="utf-8") as archivo:
    archivo.write(text)